@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

App {
  font-family: "Poppins", sans-serif;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}
nav {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  height: 5vmin;
  justify-content: center;
  text-align: center;
}
header {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 2.9px 7.45px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
